# Gradle
# ------
.gradle
/build
/buildSrc/build
/buildSrc/subprojects/*/build

# IDEA
# ----
.idea
.idea/**
.shelf
/*.iml
/*.ipr
/*.iws

# Vim
# ---
*.sw[op]

# macOS
# ----
.DS_Store

# Logs
# ----
/*.log

# oh-my-zsh gradle plugin
.gradletasknamecache

# Java
# ----
*.jar
